include ./product__card
.product
   .product__background
      img(src=require("./img/kosmos.png") alt="Космос")

   .product__wrap
      ul.product-list
         
         li.product-list__item
            .product-img__wrap.img__mercury
               a.product-list__link.img__mercury
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"mercury", slider:"mercury"})
         
         li.product-list__item
            .product-img__wrap.img__venus 
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"venus"})
         
         
         li.product-list__item
            .product-img__wrap.img__earth
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"earth"})
         
         li.product-list__item
            .product-img__wrap.img__mars
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"mars", position:"mars"})
         
         
         li.product-list__item
            .product-img__wrap.img__jupiter
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"jupiter", position:"jupiter"})

         
         li.product-list__item
            .product-img__wrap.img__saturn
               a.product-list__link
                  img.product-list__img.img--position(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"saturn", position:"saturn"})


         li.product-list__item
            .product-img__wrap.img__uranus
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"uranus", position:"uranus"})
                  

         li.product-list__item
            .product-img__wrap.img__neptune
               a.product-list__link
                  img.product-list__img(src=require("./img/egg.png") alt="Кресло")
                  +product__card({color:"neptune", position:"neptune"})
            

